/*generale*/
body {background:#36393F;}
a {text-decoration:none; color:#CCC;}
a:hover {color:#141414;}
.clear {clear: both;}
/*
background:#36393F;
fenetre de message : #778899;
Bouton sur message / plateau :#202225;
button sur fond noir/gris: #4A90E2
modifiable : #ffa500*/
h1#titre {text-align:center; font-family: 'MedievalSharp', cursive; font-size:6em; color:#fff;position: absolute; top:15%;margin: auto;left:calc(50% - 225px);}
#message {display: none; background: #778899; width: 400px; padding: 1px 3px 15px 3px;text-align: center;position: absolute; left:calc(50% - 200px);top:25%;border:1px solid  #ffa500;z-index: 100;}
#message h1,#messagepartie h1{font-family: 'MedievalSharp', cursive; color:#fff;}
#message p, #messagepartie p{color:#fff;width:380px;}
#message input.btn_msg {margin-right: 1%; color:#000; background: #202225; border: none; border-radius: 5px; padding: 5px; color:#fff;}
.close {float: right;font-stretch:bold; background: none; border: none;color: #CCC;top:5px;position: absolute;right: 0;padding: 5px;}
.demandeinput {background: none; border:#202225 solid 1px;}
#messagepartie{display: none; background: #202225; width: 400px; padding: 1px 3px 15px 3px;text-align: center;position: absolute; left:calc(50% - 200px);top:25%;z-index: 100;}
.bouton_save {padding: 5px; background: #4A90E2; border-radius: 0px; border:none; margin-left:10px; margin-top:20px; float: right}
.option_2colonne{width: 49%;margin-left: 1%; float: left;margin-top: 3px;}
.option_3colonne{width: 32%;margin-left: 1%; float: left;margin-top: 3px;}
.option_4colonne{width: 24%;margin-left: 1%; float: left;margin-top: 3px;}
.option_2colonne input[type='text'],.option_2colonne input[type='color'] {float: right;}
.option_4colonne input[type='text']{width: 80%;}
#exportation{position: fixed; background: #202225; width: 80%; height: 50%; top: 25%; left: 10%;display: none; padding: 10px;z-index: 100;border:1px solid #ffa500;}
#exportation h1{color: #fff}
#exportation textarea{resize: none; width: 100%; height: 60%}
.btnexport {background: none;border: none; float: right;color:#fff; margin-top:-50px;}