/*page index*/
#login{background: #778899;height: auto; position: absolute; top:40%; color:#fff; padding: 10px; display: block;}
#login { width: 100%;  }
form.premier {width: 100%;}
form.second {width: 100%}
.discord {background: url('../img/discord.png') center center no-repeat;background-size: cover;; height: 30px; width: 30px; position: relative; top:-55px; float: right;margin-bottom: -30px; text-indent: -9999em;margin-right: 20px;}
form input {float: right;margin-right: 1%; color:#000; margin-right: 20px;}
form input {clear:both;}
form input[type="submit"],form input[type="button"] {float: right; background: #202225; border: none; border-radius: 5px; padding: 5px; color:#fff;}
.version {font-size: 0.2em; }
@media all and (min-width: 525px) {
	#login {width: 50%; margin-left: 25%; }
	form.premier {width: 45%;padding-right: 5%; margin-right: 5%; border-right: 1px #fff dashed;float: left;}
	form.second {width: 40%;float: left;margin-top: 0;}
	form input {margin-right: 0px;}
	.discord {margin-right: 0px;}
}