/*log*/
h1#titre {top: 1%;}
#log{background: #778899; height: auto; margin-top: 1%; margin-right: 1%;color:#fff; padding: 15px 25px 0px 25px; display: block; width: auto; float: right;}
#log h1 {font-size: 1em;}
#log span {padding-top: 5px;}
.template_icone, .newpartie, .dossier{filter: invert(100%);position:relative;top:-20px;float:right;margin-right: 5px;} 
.template_icone:hover, .newpartie:hover, .dossier:hover{filter: invert(0%);}
/*liste*/
/*h1.groupe {color:#fff; width: 100%; border-bottom:1px #fff dashed;font-size: 1.2em; font-style: italic; font-weight: 100;}*/
#liste{width:95%;padding-left: 5%;padding-top:10%;display: block;overflow:auto; min-height: 80%;position: fixed;pointer-events: none;}
.partie{background:#778899;max-width:300px;width: 20%;margin:10px;color:#fff; padding: 10px; float:left; text-align: center; height:130px;pointer-events: auto;}
.partie h1 {font-size: 1.6em;margin-top: 10px;margin-bottom: -20px;margin-left: 30px;}
h1 input{line-height: 0.6em; background: none; border: none; height: 40px;margin-top: -10px;}
.supprimer{float: right;font-stretch:bold; background: none; border: none;color: #CCC; position: relative;}
.supprimer:hover {color:#141414;}
.mini {font-size: 0.8em;}	
.modif,.suppr {float: right; font-style:initial;font-size: 0.8em;}
.modif{margin-right: 10px;}
.listejoueur {text-align: left; margin-left: 10px; background: #778899; position: absolute; top: 25%; left:calc(50% - 250px); width: 450px; padding: 10px; color:#fff;border:1px solid  #ffa500;pointer-events: auto}
.listejoueur h1 ,.listejoueur p{text-align: center;z-index: 80}
.listejoueur input {background: none; border:none;}
.listejoueur .modifjoueur,.ajour {float:right;}
.listejoueur input.visible {background:url('../img/visible.png') no-repeat center center;}
.listejoueur input.pnj {background:url('../img/pnj.png') no-repeat center center;}
.listejoueur input.sup {background:url('../img/supprimer.png') no-repeat center center;}
.listejoueur input.mod {background:url('../img/mod.png') no-repeat center center;}
.listejoueur input.val {background:url('../img/val.png') no-repeat center center;}
.listejoueur span.joueur{border-radius: 3px; border-left: 1px #fff solid; border-bottom:1px #fff solid; width: 95%; height: 20px;display: block;padding: 5px;}
.listejoueur span.joueur2{border-radius: 3px; border-left: 1px #fff solid; border-bottom:1px #fff solid; width: 85%; height: 20px;display: block;padding: 5px; float:right; margin-bottom: 10px;}
.listejoueur span.mj{border-radius: 3px; border-left: 1px #202225 solid; border-bottom:1px #202225 solid; width: 95%; height: 20px;display: block;padding: 5px;}
.partie input#btn_msg {}
.addliste{    width: 85%;  color: black;}
form.joueurform input{clear: both; background: red;}
.groupe {width: 90%;margin-bottom: 0; background: #202225;min-height:168px;pointer-events: auto}
h1.titregroupe {color:#fff;height: 20px;padding:3px 10px 3px 10px;position:relative;top:18px;left:10px; margin-top: 0; float:left;width:auto;display: block; font-size:0.9em;font-style: italic;background:#202225;border-top-left-radius: 5px;border-top-right-radius: 5px;font-weight: 100; }