/*bar du haut*/
body {overflow: hidden;}
#menutop {background:#202225;position: absolute; width: 100%;display: block; top:0px; height: 20px;z-index: 10; }
#menutop h1.title {font-family: 'MedievalSharp', cursive; font-size:0.8em; color:#fff;margin:2px 0 0 2px;float:left; margin-right: 10px;}
#menutop h1.title2 {font-size:0.8em; color:#fff;margin:3px 0 0 2px;float:left; margin-right: 10px;}
#menutop h1.title2 input {width: 10px;color:#ffa500; margin-left: 5px;}
#menutop input {background: none; border:none;}
.logout {padding-top: 2px;}
.nomlog {margin-top:-10px;}
#menu{float: right;color:#fff; text-transform: capitalize;float: right;}
#creer_fiche, #pnj, #musique, #help , #regle,#doc,#plateau{border: none; width: 20px; height: 20px; display:block;text-indent: -9999em;float: left;}
#creer_fiche{background:url('../img/fiche.png')  no-repeat center center; }
#pnj {background:url('../img/pnj.png')  no-repeat center center;}
#doc {background:url('../img/parchemin.png')  no-repeat center center;}
#musique {background:url('../img/musique.png')  no-repeat center center;}
#help {background:url('../img/help.png')  no-repeat center center;}
#regle {background:url('../img/regle.png')  no-repeat center center;}
#plateau{background:url('../img/plateau.png')  no-repeat center center;}
/*colone de gauche*/
/*#collone {background:#202225;height:calc(100% - 20px); width: 280px;display: block; position: absolute;left:0; top:20px;}*/
#collone {background:#202225;height:calc(100% - 20px);top:20px; width: 280px;display: block; position: absolute;left:0;z-index: 10;}
/*roll*/
#roll{width: 280px;height: 90px;color:#fff;}
#lancer,#bonusmj{width: 25%;float: left;text-align: center;font-size: 2.5em;padding-top: 10px;}
#bonuscompetence{width: 25%;float: left;text-align: center;font-size: 2em;padding-top: 15px;}
input#bonusmj{color:orange;border: none;background:#202225;width: 20%; }
#totallancer {width: 27%;float: left;text-align: center;font-size: 3em;color:#19a2df;padding-top: 3px;}
#dice{background:url('../img/dice.png') #202225;width: 50px;height: 50px; display: block;position: absolute; left:280px; z-index: 80;border-bottom-right-radius: 20px;}
#roll input[type=radio]{width: 10%;}
#clear,#cache {background: none; border: none; margin-left: 50px}
#roll input[type='radio']{display: none}
/*#roll label {width: 33%;text-align: center; display: block;float: left}*/
#messagedes{position: absolute; top:50%; width: 100%; text-align: center; font-size: 1em;line-height: 0.2em;font-family: 'MedievalSharp', cursive;color:#fff;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black}
#messagedes p{font-size: 0.8em;}
.posturecolonne{position:relative;top:10px;font-size: 0.8em; width: 25%;text-align: center; display: block;float: left}
/*avatar*/
#supercollone{height:100%; width: 330px;display: block; position: absolute;left:0; top:0px;background:none;display: block;overflow: hidden;}
#contentavatar{overflow: hidden; width: 350px;position: relative;left: 0;top: 0; width: 350px;height: calc(100% - 80px);pointer-events: none;}
#avatar{overflow-y: scroll;margin-right: -80px}
/*#contentavatar{overflow: hidden;}
#contentavatar, #avatar {padding: 0;margin: 0;height:calc(100% - 20px); width: 296px;display: block;}
#avatar {
            position: relative;
            left: 0;
            top: 0;
            margin-right: -80px;
            padding-right: 80px;
            overflow-y: scroll;
        }*/
.tourinfo {position:relative;width: 50px;height: 178px;display: block; background: #282828; margin-top:-180px;left:225px;border:1px #000 solid; border-top-right-radius: 20px;border-bottom-right-radius: 20px;bottom:-180px;transition: 1s;z-index: 4}/*280px*/
.image { width: 100%; height: 180px; top: 0px;position:relative;z-index: 4}
.avatar {margin-top:0px; margin-top:10px; width: 280px; height: auto;float: left;pointer-events: auto;}
.avatar h1 {margin-left: 10px; margin-top:0px; padding-top: 5px; font-size:1em;font-family: 'MedievalSharp', cursive;}
.avatar h1 input {background: none; color:#fff; border: none; text-transform: capitalize;padding: 5px;text-shadow: -1px 0 black, 0 1px black,1px 0 black, 0 -1px black}
.avatar input.info_pv {background: #282828;opacity:0.8;width:30px;height: 30px; float: right; text-align: center;margin-right: 10px;border: none;margin-bottom: 5px;position: relative;top:-25px;}
.avatar .nom:hover {background: none}
.avatar .infoavatar {position: relative; top: -25px;}
input.augmente, input.diminue,input.augmentepsy, input.diminuepsy {border: none; background:#666666;color:#fff;opacity: 0.8 ;position: relative;font-size: 0.5em;padding:0;width:10px;height:16px; }
input.augmente{top:-4px;left:228px;z-index: 100}
input.diminue{top:12px;left:218px;z-index: 100}
span.posture,span.effet, span.avantage{width:30px;height: 30px;display:block;float:left; margin-left:10px;}
.infoarmure {position: absolute; bottom: 10px;display: block; width: 80%;height: 50px;}
.avatar input.armure {color: #fff;background: url('../img/bouclier.png'); background-size:cover;width: 50px;height: 50px;border: none; text-align: center;float: left;display: block}
.avatar input.armuremagique {color: #fff;background: url('../img/boucliermagique.png'); background-size:cover;width: 50px;height: 50px;border: none; text-align: center;float: left;display: block}
.infoav {top: 30px; left:5px;position: absolute;}
.bar {width: 100%; min-height: 3px;height:auto;float: left;margin-top:3px;transition:width 1s;}
.diceindic {position:absolute;top:120px;right:10px;background:url(../img/dice2.png); background-size:cover;display:none;width:45px;height:45px; animation: mymove 1s infinite;}
@keyframes mymove {
          from { transform: rotate(0deg); }
          to { transform: rotate(360deg); }
          }
/*menu fiche*/
.agrandissement {background: url('../img/tchat.png') no-repeat center center #202225; cursor: pointer; background-size: cover; width: 20px; height: 20px;display: block;margin-top: 5px;}
ul.menu-fiche{margin-top: -42px;width:auto;}
ul.menu-fiche li{ padding:5px 10px 5px 10px; text-align:center;display:inline-block; margin:0;background:#282828;;margin-top: -2px;margin-left: -4px;}
ul.menu-fiche li input {text-decoration:none;font-family: 'MedievalSharp', cursive; text-transform:capitalize;background: none;border: none}
input.fiche {background:none; border:none; border-radius:0;}
ul.menu-fiche li.active_fiche {font-size: 1.2em;margin-top: -12px;margin-right: 4px;}
#ouverturefiche {margin-right: -5px; width: 25px; height: 25px;display:inline-block;position: relative;top:10px;transition: 0.5s}
/*fiches*/
#fiches {background:#202225;position: absolute; width: calc(100% - 280px); height: 400px;bottom: -400px;right: 0;z-index: 10}/*bottom: 0;*/
article.id_fiche {position: absolute; width:100%; height: 400px;bottom: 0;right: 0;overflow: auto}
.espace {margin-bottom: 30px;}
.fichecolonne {width: 380px; min-height: 360px; height:auto;float: left; padding: 10px; color:#fff; }
h2 {color:#ffa500;font-size:1.2em;font-family: 'MedievalSharp', cursive;}
.histoire {margin: 10px 0 0 10px;background: none;  padding: 5px;width:calc(100% - 20px);height:auto;display: block;border:none; border-radius: 3px; border-left: 1px #4e4e4e solid; border-bottom:1px #4e4e4e solid; max-height:150px; overflow: auto; resize: vertical;}
table.stat {width: 100%;font-size: 0.8em;margin-top: -20px;}
table.stat td:first-child {border-left:none}
table.stat td {text-align: center; padding: 0px;border-left:1px #4e4e4e solid;margin:0;height: 5px;color:#fff;}
.margin-left{margin-left: 20px;}
.competence{float: left; width: 45%;margin-top:5px;margin-left:10px;font-size: 0.9em;padding:2px; border-radius: 3px; border-left: 1px #4e4e4e solid; border-bottom:1px #4e4e4e solid;height: 28px; }
.suprimer,.modif{width: 12px;padding: 0;}
.valeur{width: 20px;padding: 0;}
.nom {width:100%; background: none;display: block; padding: 5px; border: none;text-align:left; cursor: pointer;float: left;}
.block-edition .nom{width: 80%;}
.block-edition .nom_comp {width:80%;display: block;float:left;}
.block-edition .valeur1_comp {float: right;text-align: right;}
.nom:hover {background: #474646}
.nom_comp {width:calc(100% - 25px);display: block;float:left;}
.nom .valeur{float:left;display: block; width: 20px;}
.suprimer{color:red;margin-top:3px;font-weight: bold;float:right; cursor: pointer; }
.modif{color:orange;margin-top:3px;font-weight: bold;float:right; cursor: pointer; }
.poids {font-size: 0.7em; width: 20px; display: inline-block; text-align: center;margin-left: -25px;}
.qte {width: 20px; display: inline-block; text-align: center;margin-left: -1px;margin-right: 5px;}
.quantite,.suprimer,.modif{float: right;}
.infolist{float: right;font-size: 0.8em;font-family: arial; }
.petite{font-size: 0.7em;}
.inventaire {float: left;width: 95%;margin-top:5px;margin-left:10px;font-size: 0.9em;padding:2px; border-radius: 3px; border-left: 1px #4e4e4e solid; border-bottom:1px #4e4e4e solid;height: 28px;margin-left:5%;}
.posture-3, .posture-2, .posture-1, .posture-0, .avant-0{ border: none; width: 30px; height: 30px;float: right; margin-left:10px;opacity: 0.3;}
.statut2 .offensif,.statut2 .defensif,.statut2 .focus,.statut2 .etat-0,.bonus2 .avant-0,.bonus2 input.avant-1,.bonus2 input.avant-2{float: left;}
.offensif:hover, .defensif:hover, .focus:hover,.etat input:hover {opacity:0.5;}
.posture-2{background: url(../img/offensif.png);background-size:cover;}
.posture-3{background: url(../img/defensif.png);background-size:cover;}
.posture-1{background: url(../img/focus.png);background-size:cover;}
.block-avantage .avant-1,.block-avantage  .avant-2{border: none; width: 30px; height: 30px;float: right; margin-left:10px;opacity: 0.3;}
input.activepost, span.statut .activepost{opacity:1;}
input.avant-1{background: url('../img/avantage.png'); background-size:cover;}
input.avant-2{background: url('../img/desavantage.png'); background-size:cover;}
.etat-0,.etat-1,.etat-2,.etat-3,.etat-4,.etat-5,.etat-6,.etat-7,.etat-8{opacity: 0.3;color: #fff;width: 30px;height: 30px;border: none;margin-top: -80px; text-align: center;margin-left: 0px;}
input.etat-8{background: url('../img/etat-8.png'); background-size:cover;}
input.etat-7{background: url('../img/etat-7.png'); background-size:cover;}
input.etat-6{background: url('../img/etat-6.png'); background-size:cover;}
input.etat-5{background: url('../img/etat-5.png'); background-size:cover;}
input.etat-4{background: url('../img/etat-4.png'); background-size:cover;}
input.etat-3{background: url('../img/etat-3.png'); background-size:cover;}
input.etat-2{background: url('../img/etat-2.png'); background-size:cover;}
input.etat-1{background: url('../img/etat-1.png'); background-size:cover;}
.url {background: none; border: none;margin-bottom: 5px;}
.sans {border: none; background: none}
.color {float: right}
.bouton_edit {padding: 5px; background:none; border-radius: 0px; border:none; margin-left:10px; float: right}
.bouton_plateau {padding: 5px; background: #4A90E2; border-radius: 0px; border:none; margin-left:10px; margin-top:20px;}
img.apercu{width: 140px;height: 70px; float:left; margin-right:5px; margin-top: 5px;}
textarea.notemj{width:95%;height:300px;color:#fff; background: #202225;border: 1px solid #36393F; padding:3px;}
/*colone droite*/
#infocollone {width:300px; height:calc(100% - 40px);display:block;position:absolute;top:20px; right:-320px; padding:10px;background: #202225; opacity: 1; color:#fff;z-index: 50}/*right:0;*/
#infocollone2 {width:320px; height:100%;display:block;position:absolute;top:20px; right:-20px; padding:10px ;background: #202225; opacity: 0.8; color:#fff; overflow-x: scroll;}
/*input#reduire{background:#202225; border: none;border-top-left-radius: 10px; width: 200px; height: 20px;  position: relative; left:-120px; top:80px; transform: rotate(-90deg);}*/
input#reduire{background:#202225; border: none;border-top-left-radius: 10px; width: 200px; height: 20px;  position: relative; left:-120px; top:80px; transform: rotate(-90deg);}
.regle {padding: 5px; margin: 0;position: relative; top:-35px;  font-size: 0.8em;}
.regle h1{text-align:center}
.regle h2{width: 100%;border-radius: 3px; border-left: 1px #4e4e4e solid; border-bottom:1px #4e4e4e solid;padding: 5px;text-transform: uppercase;}
.regle textarea.doc {background:#36393F; width: 100%;padding:5px; height: 60px; overflow-y: auto;margin-top: 0px;border: none; resize: vertical;}
.regle textarea.pnj {transition:1s;background:#36393F; width: 97%;padding:5px; height: 110px; overflow-y: auto;margin-top: 0px;border: none; resize: none; opacity: 0; margin-top: 20px;color:#fff;font-family: Arial,Helvetica Neue,Helvetica,sans-serif; }
.regle:hover textarea.pnj{opacity: 0.8;}
.regle p {text-align:justify}
.regle input.btn_msg{margin-right: 1%; color:#000; background: #4A90E2; border: none; border-radius: 5px; padding: 5px; color:#fff; float:right;}
.infogenerale {font-size: 0.8em;}
.titrepnj {background:url('../img/image.jpg'); background-size:cover;display:block;width: 95%; height: 160px;}
.listejoueur {float: left;width: 95%;margin-top:5px;margin-left:10px;font-size: 0.9em;padding:5px 2px 0px 5px; border-radius: 3px; border-left: 1px #fff solid; border-bottom:1px #fff solid;height: 28px;margin-left:5%;text-align: left;text-transform:capitalize;}
.visibledoc,.visiblepnj {background:url('../img/visible.png'); background-size:cover;display:block; width:20px;height:20px; float:right; margin-right:10px;}
/*editfiche*/
#editfiche{background:#202225;border:#ffa500 1px solid; width: 60%; height: 80%; position: absolute;top:10%;left:20%; color:#fff; padding: 5px 10px 5px 10px;overflow-y: auto;overflow-x:hidden;display: none;z-index:10}
.board {width:100px; height:60px;display:block; float:left; padding: 10px;text-shadow: -1px 0 black, 0 1px black,1px 0 black, 0 -1px black; font-size: 1.5em; text-transform: capitalize;cursor: pointer; border:1px solid #fff;margin: 5px; }
.block-edition {float: left; width: 24%;min-height:10px;display: block; padding-left: 1%;}
.block-image .image {width: 25%; margin-top: -60px;}
.block-nom {padding-left: 20px;}
.modif_comp textarea{height:20px;resize: vertical; width:calc(100% - 20px);background:#36393F;padding: 5px;}
.modif_comp {border-radius: 3px; border-left: 1px #4e4e4e solid; border-bottom:1px #4e4e4e solid;padding:3px;width:calc(100% - 20px); margin-left:20px;padding-top: 3px;margin-bottom: 20px;}
.encomin{color:#fff;font-size:0.8em}
/**tchat*/
#tchatUser{border:solid 1px #36393F;width:15%;margin-top: 5px; margin-left: 3%; display: inline-block;overflow: auto;}
#tchat{border:solid 1px #36393F;width:calc(80% - 10px);margin-top: 5px; margin-left: 0.5%; display: inline-block;overflow: auto;}
#ecrire{border:solid 1px #36393F;width:calc(100% - 65px);margin-top: 5px; margin-left: 3%; display: block;overflow: auto;}
#tchat,#tchatUser{height:320px;padding:3px;}
#ecrire{height:40px;}
input.message_tchat {width:calc(100% - 130px); margin-top: 3px;margin-left: 3px;background:none; color: #fff;border: none; height: 30px}
textarea.messagedutchat { resize:vertical;}
input.envoyer {width: 100px;  background:#474646;border: none;padding:3px;color:#fff;}
.tchat {display: block; width: 65%; padding: 5px; margin: 5px;border-radius: 3px;opacity: 0.8;font-size: 1.2em;min-height: 30px;height: auto; }
.tchat p {margin: 0; padding: 0;}	
.monmessage {border-left: 1px #777575 solid; border-bottom:1px #777575 solid;  float:right; text-align: right; color:#f2f2f2;}
.sonmessage {border-right: 1px #474646 solid; border-bottom:1px #474646 solid;  float:left; text-align: left; color:#aaa7a7;}
.reacteur {font-size: 0.5em;}
.tchatPlayer { transition: all .2s ease-in-out;width: 80%; margin-left: 5%; margin-top: 5px; }
#tchatUser h1 {font-size: 0.8em; color: #ffa500}
.separateurtchat{color:#ffcc66; margin: 0 0 5px 0; padding:0 0 5px 0;border-bottom:1px solid #36393F;}
.tchatPlayer { transition: all .2s ease-in-out;width: 80%; margin-left: 5%; margin-top: 5px; }
.tchatPlayer:hover { transform: scale(1.1); }
.noteplayer{border-radius: 3px;border-left: 1px #4e4e4e solid;border-bottom: 1px #4e4e4e solid; padding-left:5px;padding-bottom:3px;margin-bottom:3px;margin-top:0;height:20px;}
/*musique*/
#playlist ul,#playlist li {list-style-type: none;margin: 0;padding: 0;}
#playlist li span.survol{clear:both;padding-top: 3px;background:#202225;width: 90%;height: 20px;float: left;cursor: pointer;}
#playlist li span.survol:hover{background:#36393F;}
#playlist li li span.survol{padding-left:20px;width:calc(90% - 20px);}
#playlist li li li span.survol{padding-left:40px;width:calc(90% - 40px);}
.musicplaylist{background:url('../img/image.jpg'); background-size:cover;display:block;width: 95%; height: 160px;border-radius: 3px; border-left: 1px #4e4e4e solid; border-bottom:1px #4e4e4e solid;padding: 5px;text-transform: uppercase;margin-bottom: 5px;}
.musique-playlist{height:20px;width:30px; display:block; float:left;margin-right:5px;}
.newmusic{width:25%;display:block-inline;text-align:center;padding:3px 5px 3px 5px; background:#36393F; }
.newmusic2{width:87%;display:block-inline;text-align:center;padding:3px 5px 3px 5px;background:#36393F;margin-top: 5px;}
.titremusic{background-color:rgba(32, 34, 37, 0.5); width: 100%; height: 20px; padding: 5px;margin: -5px 0 0 -5px;}
.lectureecours{font-style: italic;font-size:0.8em;}
.visiblemusic{background:url('../img/visible.png'); background-size:cover;display:block; width:20px;height:20px; float:right; margin-right:10px;}
.time{position: relative;top:30%;text-align: center;text-shadow: -1px 0 black, 0 1px black,1px 0 black, 0 -1px black}
.playback {background-color:rgba(32, 34, 37, 0.5); width: 100%; height: 20px; padding: 5px;margin: -5px 0 0 -5px;position: relative;top: 100px;	}
.playback button, .playbutton, .pausebutton, .stopbutton{border: none; background: none; color:#fff; width: 20px; padding: 0;}
.currenttime {width: 200px;margin: 0;padding: 0;position: relative;top:5px;}
.volume-label {width: 1em;text-align: center;display: inline-block; margin-left: 5px;}

.commande{height:20px;display:block;float:left;}
/*Plateau*/
/*canvas#tableboard{width:calc(100% - 280px); height:calc(100% - 20px);position: absolute;top:20px;right: 0;}*/
#whiteboard{position: absolute; width:calc(100% - 280px);height: calc(100% - 20px);top:20px;right: 0;}
#bd-wrapper > ul > li{margin-bottom:5px;}
#bd-wrapper{width:300px;font-family: Arial,Helvetica Neue,Helvetica,sans-serif;font-size: 0.8em;}
h5 {color:#ffa500;border-radius: 3px; border-left: 1px #4e4e4e solid; border-bottom:1px #4e4e4e solid; padding: 3px;}
a{color:#ffa500;text-decoration:none}
a:hover{color:#ffa500;text-decoration:underline}
.nav{margin-left:0;margin-bottom:20px;list-style:none}
input#menu1{background:url('../img/token-img.png') no-repeat center center #36393f;  }
input#menu2{background:url('../img/general.png') no-repeat center center #36393f;  }
input#menu3{background:url('../img/option.png') no-repeat center center #36393f;  }
input#menu4{background:url('../img/config.png') no-repeat center center #36393f;  }
input#menu10{background:url('../img/effet.png') no-repeat center center #36393f;}
input#menu11{background:url('../img/token.png') no-repeat center center #36393f;}
input#menu12{background:url('../img/lieu.png') no-repeat center center #36393f;}
input#menu13{background:url('../img/objet.png') no-repeat center center #36393f;}
input#menu14{background:url('../img/nature.png') no-repeat center center #36393f;}
input#menu20{background:url('../img/decor.png') no-repeat center center #36393f;}
input#menu21{background:url('../img/lumiere.png') no-repeat center center #36393f;}
input#menu22{background:url('../img/brouillard.png') no-repeat center center #36393f;}

.nav > li > input{display:block;border:none;  width:60px; height: 40px;}
.nav > li > input:hover, input.active{filter:invert(100);}


.nav > .pull-right{float:right}
.nav-header{display:block;padding:3px 15px;font-size:11px;font-weight:700;line-height:20px;color:#fff;text-shadow:0 1px 0 rgba(255,255,255,0.5);text-transform:uppercase}

.nav-list{padding-left:15px;padding-right:15px;margin-bottom:0}

.nav-list > .active > a,.nav-list > .active > a:hover{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.2);background-color:#36393F}
.nav-tabs,.nav-pills{*zoom:1}
.nav-tabs:before,.nav-pills:before,.nav-tabs:after,.nav-pills:after{display:table;content:"";line-height:0}
.nav-tabs:after,.nav-pills:after{clear:both}
.nav-tabs > li,.nav-pills > li{float:left}
.nav-tabs > li > a,.nav-pills > li > a{padding-right:12px;padding-left:12px;margin-right:2px;line-height:14px}
.nav-tabs{border-bottom:1px solid #36393F}
.nav-tabs > li{margin-bottom:-1px}
.nav-tabs > li > a{padding-top:8px;padding-bottom:8px;line-height:20px;border:1px solid transparent;}
.nav-tabs > .active > a,.nav-tabs > .active > a:hover{color:#fff;background-color:#36393F;border:1px solid #36393F;border-bottom-color:transparent;cursor:default}
.nav-pills > li > a{padding-top:8px;padding-bottom:8px;margin-top:2px;margin-bottom:2px;}
.nav-pills > .active > a,.nav-pills > .active > a:hover{color:#fff;background-color:#36393F}
.nav > .dropdown.active > a:hover{cursor:pointer}
.tabs-stacked .open > a:hover{border-color:#36393F}
.object-controls p{margin-bottom: 5px;}
.modif-bar-control {margin-top: 0px;float: right;background: #36393F;border: none;color:#fff;}
.modif-text {width: 300px;resize: vertical;color:#fff; background: #36393F;border: none}
.modiftextbutton img, .nav img{filter: invert(100);}
.modiftextbutton,.modiffondbutton{margin-right: 1%; background: #36393F; border: none;  padding: 5px; color:#fff; float:left;}
.modiftextbutton2{margin-right: 1%; background: #525252; border: none;  padding: 5px; color:#fff; float:left;}
.troiscollone {width: 33%;float:left;z-index:10;}
.modiffondbutton{width: 49%;margin-bottom: 2px;}
#canvasRasterizer{width: 300px; height: 200px;}
.canvas-container {display:block}
.biblio img{filter: invert(0);width: 20px; height: 20px;}
#menu100,#menu101,#menu102,.select2{color:#000;}
#changernomplat{width:100%;margin-bottom: 3px;text-align:center; background:#ccc; border:none; color:#000}
#drawing-mode-options{display: none}
#drawing-mode-selector {color:#000;width: 100px; float: right}
/*text info*/
#text-cont { width: 100%;color:#000;  }
#add {float:left;}
.select2{ height: 20px;}
#grille{position: absolute;width: 100%; height: 100%;}
/*#carte{z-index:0;}
#grille{z-index: 1;}
#pion{z-index:2;}
#cacher{z-index:3;}
#gm{opacity: 0.5;z-index: 4;}
#outil {z-index:5;}*/

#nomplateauactif{float: right;color: #d9d9d9;text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);margin-right: 50px; margin-top:30px;font-size: 1.2em;}

/**contextmenu**/

#menucontext{position: absolute; width:176px; height: auto; left: 50%; top:50%;border-radius: 3px;box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.53);display: none}
#menucontext ul{margin:0;margin-left:-32px; width: 168px;}
#menucontext li{list-style: none; font-size: 0.8em; color :#7abdf5;padding-left: 32px; height: 24px;padding-top: 8px;}
#menucontext li:hover {background: #d3d2d2;color:#1a98cf;}
#menucontext li ul{display:none;margin-left:125px;margin-top:-30px;background:#f2f2f2 }
#menucontext li:hover ul{display:block;}
.separator{width: 100%;height: 1px; background: #ccc;float: left;}
.copy{background:url('../img/copy.png') no-repeat #f2f2f2 top left;}
.delete{background:url('../img/delete.png') no-repeat #f2f2f2 top left;}
.paste{background:url('../img/coller.png') no-repeat #f2f2f2 top left;}
.mirror{background:url('../img/mirror.png') no-repeat #f2f2f2 top left;}
.mirror2{background:url('../img/mirror2.png') no-repeat #f2f2f2 top left;}
.Plan{background: #f2f2f2 top left;}

#player{position: relative;top: 130px;left: 50px;}
#currenttime{position: relative;top:150px;}
#son{position: relative;}
.ajoutlistemus{background:#36393F;border:none; width:120px;margin-bottom: 5px;}

/*.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}
/*input[type=range] {-webkit-appearance: none; width: 200px; background: transparent; }
input[type=range]::-webkit-slider-thumb { -webkit-appearance: none;}
input[type=range]:focus {outline: none;}
input[type=range]::-ms-track { width: 100%; cursor: pointer; background: transparent;border-color: transparent; color: transparent;}*/