@import 'index.css';
#recuperation {display: block; background: #778899; width: 450px; padding: 1px 3px 15px 3px;text-align: center;position: absolute; left:calc(50% - 225px);top:35%;border:1px solid  #ffa500;z-index: 100;}
#recuperation h1{font-family: 'MedievalSharp', cursive; color:#fff;}
#recuperation p{color:#fff;width:380px;}
#recuperation input.btn_msg {margin-right: 1%; color:#000; background: #202225; border: none; border-radius: 5px; padding: 5px; color:#fff;}