h1#titre {top: 1%;}
#log{background: #778899; height: auto; margin-top: 1%; margin-right: 1%;color:#fff; padding: 15px 25px 0px 25px; display: block; width: auto; float: right;}
#log h1 {font-size: 1em;}
#log span {padding-top: 5px;}
#log a.creer {position:relative;top:-30px;text-align:right;}
#titreh2{position: absolute;left: 5px;top:5px; margin-top: 0;}
#template{width:90%; left: 5%;top:18%;display: block; overflow:auto; min-height: 50%;position: absolute;color:#fff;padding:0 5px 0 5px;}
.newpartie{position:relative;top:-20px;float:right;margin-right: 5px; background: url('../img/fiche.png') center left no-repeat; padding-left: 20px;} 
#infotemplate{position: absolute;right: 5px;top:5px;}
input, textarea,select {background:#42464F;border:none;padding:3px;}
input[type='button'] {float: right;padding: 0 3px 0 3px; background: #fff; color:#36393F;}
input[type='color'] {background: none; border: none}
.colonne {float: left;width : 33%;height : auto; margin-top: 40px}
.option {margin-left: 20px;}
.option span{position: relative;top:3px;}

.seperateur{margin-top:15px;width:100%;display:block;float:left;border-top:1px solid #fff;margin-bottom:15px;}
.orange, label.orange{color:#778899;margin-bottom: 10px; width: 80%;display:inline-block;}
.template-div {	border : solid 1px #778899;	padding : 5px;	margin : 5px 15px 5px 15px;	padding-left: 1%;height : 100%;padding-bottom: 10px;}
.template-checkbox {margin-top : 5px;margin-bottom : 5px;}
.template-label {	font-size: 20px;font-color: #ff6600;margin-top : 5px;margin-bottom : 5px;}
.template-textarea-regle {resize: vertical;width : 98%;	height: 177px;}
.template-posture-text, .template-position-text, .template-module-text, .template-bar-text {margin-bottom : 2px;width : 100px;}
.template-stats-text{margin-bottom : 2px;width : 90px;}
.clear {clear:both;}
input.btn_msg {margin-right: 1%; color:#000; background: #778899; border: none;  padding: 5px; color:#fff; float: right; margin-top: 20px; margin-bottom: 20px;}
.supprligne{color:red; float:right;cursor:pointer}

/*appercu*/
#fondnoir{background: black; height: 300px; width: 100%}
#barmenu{height: 10px; width: 100%; background:#202225;}
h1.templatetitle, h1.title2{font-size: 0.5em;float: left; margin-top: 0px;}
h1.title2{margin-left: 10px;}
#pointequipe{width: 10px;height: 5px;background:#202225;text-align: right;color: orange}
#menu{float: right;color:#fff; text-transform: capitalize;float: right; font-size: 10px}
#creer_fiche, #pnj, #musique, #help , #regle,#doc,#plateau{border: none; width: 10px; height: 10px; display:block;text-indent: -9999em;float: left;}
#creer_fiche{background:url('../img/fiche.png')  no-repeat center center; background-size: cover; }
#pnj {background:url('../img/pnj.png')  no-repeat center center;background-size: cover;}
#doc {background:url('../img/parchemin.png')  no-repeat center center;background-size: cover;}
#musique {background:url('../img/musique.png')  no-repeat center center;background-size: cover;}
#help {background:url('../img/help.png')  no-repeat center center;background-size: cover;}
#regle {background:url('../img/regle.png')  no-repeat center center;background-size: cover;}
#plateau{background:url('../img/plateau.png')  no-repeat center center;background-size: cover;}
#logout{border: none; width: 10px; height: 10px; display:block;text-indent: -9999em;float:right;}
#collone{background:#202225;height:calc(100% - 10px);top:0px; width: 100px;display: block; position: relative;left:0;z-index: 10;}
#roll{width: 100px;height: 50px;color:#fff;}

#lancer,#bonusmj{width: 20px;float: left;text-align: center;font-size: 0.8em;margin-top: -5px;}
#bonuscompetence{width: 25px;float: left;text-align: center;font-size: 0.6em;}
input#bonusmj{color:orange;border: none;background:#202225;width: 20px; }
#totallancer {width: 27px;float: left;text-align: center;font-size: 1em;color:#19a2df;margin-top: -3px;}
#dice{background:url('../img/dice.png') #202225 no-repeat center center;background-size:15px; width: 20px;height: 20px; display: block;position: absolute; left:100px; z-index: 80;border-bottom-right-radius: 5px;}

#roll input[type=radio]{width: 10%;}
#clear,#cache {background: none; border: none; margin-left: 50px}
#roll input[type='radio']{display: none}
#clear,#cache {font-size: 10px;float: left;margin-top: -25px;}
#cache {float: left;}
#clear {margin-left: 0px;}
.posturecolonne{float: left; font-size: 5px; margin-top: 15px; margin-left: 5px;}
#roll{margin-bottom: 10px;}

.image{width: 100px;height: 70px; margin-top: 0px;}
.avatar h1 {margin-left: 2px; margin-top:0px; padding-top: 0px; font-size:0.7em;font-family: 'MedievalSharp', cursive;}
.avatar h1 input {background: none; color:#fff; border: none; text-transform: capitalize;padding: 2px;text-shadow: -1px 0 black, 0 1px black,1px 0 black, 0 -1px black}
.avatar .infoavatar {position: relative; top:0px;}
.avatar input.info_pv {background: #282828;opacity:0.8;width:10px;height: 10px; float: right; text-align: center;margin-right: 0px;border: none;margin-bottom: 0px;position: relative;top:-25px; font-size: 8px;}
.infoarmure {position: relative; bottom: 15px;display: block; width: 80%;height: 50px; font-size: 10px;}
.avatar input.armure {color: #fff;background: url('../img/bouclier.png'); background-size:cover;width: 20px;height: 20px;border: none; text-align: center;float: left;display: block;}
.avatar input.armuremagique {color: #fff;background: url('../img/boucliermagique.png'); background-size:cover;width: 20px;height: 20px;border: none; text-align: center;float: left;display: block; margin-right:}

.agrandissement {background: url('../img/tchat.png') no-repeat center center #202225; cursor: pointer; background-size: cover; width: 15px; height: 15px;display: block;margin-top: 5px;}
ul.menu-fiche{margin-top: -20px;width:auto;margin-left: 65px}
ul.menu-fiche li{ padding:1px 3px 1px 3px; text-align:center;display:inline-block; margin:0;background:#282828;;margin-top: -2px;margin-left: -4px;}
ul.menu-fiche li input {text-decoration:none;font-family: 'MedievalSharp', cursive; text-transform:capitalize;background: none;border: none}
input.fiche {background:none; border:none; border-radius:0;}
ul.menu-fiche li.active_fiche {font-size: 0.8em;margin-top: -12px;margin-right: 4px;}
